/*
    burnt: rgb(175,88,43);
    teal: rgb(126,142,142);
    brown: rgb(112,84,63);
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(120, 96, 78);
    background-image: linear-gradient(20deg, hsla(25.71, 28%, 34.31%, 1) 10%, hsla(25.71, 28%, 34.31%, 0) 67%),
        linear-gradient(102deg, hsla(180, 6.61%, 52.55%, 1) 40%, hsla(180, 6.61%, 52.55%, 0) 81%),
        linear-gradient(224deg, hsla(20.45, 60.55%, 42.75%, 1) 52%, hsla(20.45, 60.55%, 42.75%, 0) 77%);
    z-index: -1;
}

#alert {
    text-align: center;
    padding: 1rem;
    background: rgba(255,255,255,0.4);
    cursor: pointer;
}

#main .card {
    background: rgba(255, 255, 255, 0.05) !important;
    border: none;
    padding: 1rem 0 0;
    text-align: center;
    transition: background 100ms ease-out;
}

#main .card:hover {
    background: rgba(255,255,255,0.1) !important;
}

#main .card-img-top {
    height: 10rem;
}

#main .carousel {
    opacity: 0.5;
    transition: opacity 100ms ease-out;
}

#main .carousel:hover {
    opacity: 1;
}

#navigation {
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    position: fixed;
    width: 20rem;
    transition: width 200ms ease-out;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navigation ul {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation .collapsible {
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-align: center;
    transition: margin 200ms ease-out, padding 100ms ease-out, background 100ms ease-out, text-shadow 100ms ease-out;
}

#navigation li.end {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#navigation li:not(.end):hover a, #navigation li.active a, #navigation .collapsible:hover {
    margin-right: -1rem;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    text-shadow: 0 0 0.5rem white;
}

#navigation a {
    display: block;
    margin-right: 3rem;
    padding: 1rem;
    color: white !important;
    font-size: 1.2rem;
    transition: margin 200ms ease-out, background 100ms ease-out, text-shadow 100ms ease-out;
}

#navigation li:not(.end):hover img, #navigation li.active img {
    margin: 0 1rem;
    -webkit-filter: drop-shadow(0 0 0.1rem white);
    filter: drop-shadow(0 0 0.1rem white);
}

#navigation img {
    width: 2rem;
    margin: 0 0.5rem;
    -webkit-transition: margin 200ms ease-out, -webkit-filter 200ms ease-out;
    transition: margin 200ms ease-out, filter 100ms ease-out;
}

#navigation span {
    position: absolute;
    padding-left: 0.5rem;
}

.collapsed #navigation {
    width: 5rem;
}

.collapsed #navigation .collapsible {
    padding: 1rem;
}

.collapsed #navigation a {
    padding: 1rem 0 1rem 1rem;
}

.collapsed #navigation span {
    display: none;
}

#content {
    padding: 1rem 1rem 1rem 21rem;
}

.collapsed #content {
    padding-left: 6rem;
}

.modal .modal-dialog {
    margin: 5rem auto;
}

.modal .modal-content {
    background: rgba(255,255,255,0.4);
    border-radius: 0;
}

.modal .modal-header {
    padding-bottom: 0px;
    border: none;
}

.modal .nav-tabs .nav-link.active {
    border-color: transparent;
    background: rgba(255,255,255,0.4);
    color: white;
    font-weight: bold;
    border-radius: 0;
}

.modal .close {
    color: white !important;
    text-shadow: none;
    transition: opacity 100ms ease-out;
    padding: 0.5rem 0.75rem;
}

.modal .nav-tabs, .modal .modal-footer {
    border: none;
}

.modal .nav-tabs .nav-item {
    margin: 0;
}

.modal .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    margin: 0 0.5rem;
    color: #ddd;
    transition: background 100ms ease-out, color 100ms ease-out;
}

.modal .nav-tabs :not(.active).nav-link:hover {
    background: rgba(255,255,255,0.2);
    color: #eee;
}

.modal .tab-pane {
    background: rgba(255,255,255,0.4);
}

.modal form.reset {
    padding: 1rem;
    margin: 1rem 0;
    background: rgba(255,255,255,0.4);
}

#player {
    position: fixed;
    background: rgba(255,255,255,0.1);
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    right: -3.5rem;
    bottom: -3.5rem;
    z-index: 10;
    transition: height 100ms ease-out, width 100ms ease-out, background 100ms ease-out, transform 100ms ease-out;
}

#player:hover {
    height: 11rem;
    width: 11rem;
    transform: scale(1.2) translate(-0.5rem, -0.5rem);
}

#player .inner:hover, #player:hover {
    background: rgba(255,255,255,0.2);
}

#player .inner {
    background: rgba(255,255,255,0.1);
    width: 6rem;
    height: 6rem;
    margin: 2rem;
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.25);
    transition: background 100ms ease-out, margin 100ms ease-out, transform 100ms ease-out;
}

#player:hover .inner {
    margin: 2.5rem;
    transform: scale(1);
}

#player .inner img {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: 1.5rem;
    cursor: pointer;
    -webkit-transition: -webkit-filter 100ms ease-out;
    transition: filter 100ms ease-out;
}

#player .outer {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transform: scale(0) translate(100%, 100%);
    -webkit-transition: -webkit-filter 100ms ease-out, transform 100ms ease-out;
    transition: filter 100ms ease-out, transform 100ms ease-out;
}

#player:hover .outer {
    transform: scale(0.6) translate(0, 0);
}

#player:hover .outer.stop {
    transform: scale(0.5);
}

#player .forward {
    margin: 5rem 0.5rem;
}

#player .back {
    margin: 2.5rem 1rem;
}

#player .stop {
    margin: 0.75rem 3rem;
}

#player .volume {
    margin: 0.5rem 5.25rem;
}

#player .inner:hover img, #player .outer:hover {
    -webkit-filter: drop-shadow(0 0 0.1rem white);
    filter: drop-shadow(0 0 0.1rem white);
}

#pills-tab .nav-link.active {
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-shadow: 0 0 1rem white;
}

#pills-tab .nav-link {
    border-radius: 0;
    color: #ddd;
    transition: background 100ms ease-out, text-shadow 100ms ease-out;
}

#pills-tab :not(.active).nav-link:hover {
    background: rgba(255,255,255,0.05);
    color: #eee;
    text-shadow: 0 0 1rem white;
}

#pills-tab .nav-link.active:hover {
    background: rgba(255,255,255,0.25);
}

#content .album {
    padding: 0.5rem;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 100ms ease-out;
}

#content .album:hover {
    opacity: 1;
}

#content .album > img {
    width: 16rem;
    height: 16rem;
}

#content .song {
    margin: 0;
    cursor: pointer;
}

#content .song:nth-child(2n+1) {
    background: rgba(255,255,255,0.05);
}

#content .song:nth-child(2n+1):hover {
    background: rgba(255,255,255,0.15);
}

#content .song:nth-child(2n):hover {
    background: rgba(255,255,255,0.1);
}

#content .song .col {
    padding: 0.5rem 2rem;
    white-space: nowrap;
    overflow-x: hidden;
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

#footer p {
    margin: 0;
}